<template>
	<v-app>
		<nuxt />
	</v-app>
</template>

<style lang="scss">

	.application.theme--light{
		background-color: #444;

		.elevation-1 {
			box-shadow: 0 0 0 3px #000 !important;
			margin-top: 1px;
		}

		main {
			background-repeat: no-repeat;
			background-position: top center;
			background-size: cover;
			width: 100%;
			min-height: 75vh;
		}

		table.table {
			border-radius: 0 !important;
			background-color: #ffffff;
			border: 1px solid rgba(#fff, 1);
			max-width: 100%;
			overflow: hidden;

			th:focus{
				outline: 0;
			}
		}
	}

</style>

