<template>
    <header style="background-image: url('header.jpg');">
        <v-container grid-list-xl>
            <v-layout row wrap justify-center align-center>
                <v-flex xs12 lg7 xl6>
                    <img src="logo.png" alt="Databáze SA:MP serverů">
                </v-flex>
                
                <login-component></login-component>

            </v-layout>
        </v-container>
    </header>
</template>

<script>
import loginComponent from '~/components/login.vue'

export default {
    components: {
        loginComponent
    }
}
</script>

<style lang="scss" scoped>
header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    min-height: 306px;
    margin-bottom: 0px;
}
</style>


