<template>
	<v-flex xs12 lg5 xl3 text-xs-center v-if="!this.$auth.loggedIn">

		<v-card class="pl-3 pr-3 pt-3 pb-3">
			<v-layout row wrap>
				<v-flex xs12>
					<h2 class="mb-3">
						Přihlášení
					</h2>
					<v-btn class="mr-0 ml-0" outline @click="facebook" dark color="blue">Přihlásit se</v-btn>
				</v-flex>
			</v-layout>			
		</v-card>

	</v-flex>
	<v-flex xs12 lg5 xl3 v-else>
		
		<v-card class="pl-3 pr-3 pt-3 pb-2">
			<v-card-text class="pl-0 pr-0 pt-0 pb-0">
				<v-layout row wrap align-center class="mb-2">
					<v-flex xs6>
						<v-avatar>
							<img :src="this.$auth.user.picture.data.url" :alt="this.$auth.user.name" /> 
						</v-avatar>
					</v-flex>
					<v-flex xs6 text-xs-right>
						<h2 style="line-height:1">
							<small class="grey--text caption">Jsi přihlášen jako</small><br>
							{{ this.$auth.user.name }}
						</h2>
					</v-flex>
				</v-layout>
			</v-card-text>
			<v-card-actions class="pl-0 pr-0">
				<v-btn class="ml-0" outline to="/servers" dark color="red">Správa serverů</v-btn>
				<v-spacer></v-spacer>
				<v-btn class="mr-0" outline @click="logout" dark color="red">Odhlásit se</v-btn>
			</v-card-actions>
		</v-card>
	</v-flex>
</template>

<script>
export default {
	methods: {
		async facebook(){
			await this.$auth.loginWith('facebook').catch(e => {
				this.$toast.show('Error', {icon: "logout"});
				redirect: { name: '/' }
			})
		},
		logout() {
			this.$toast.show('Byl jsi odhlášen.', {icon: "logout"});
			this.$auth.logout()
		}
	}
}
</script>
