<template>
	<div>
		<header-component></header-component>
		
		<main style="background-image: url('bg.jpg');">
			<v-container grid-list-xl>
				<v-layout row wrap justify-center>
					<v-flex xs12 xl9>
						<v-data-table
							:headers="headers"
							:items="servers"
							:pagination.sync="pagination"
							:total-items="totalServers"
							:loading="loading"
							:rows-per-page-text="rowsPerPage"
							class="elevation-1"
						>
							<template slot="items" slot-scope="props">
								<td>{{ props.item.server_name }}</td>
								<td class="text-xs-right">{{ props.item.ip_address }}</td>
								<td class="text-xs-right">{{ props.item.server_players }} / {{ props.item.server_maxplayers }}</td>
							</template>
						</v-data-table>
					</v-flex>

				</v-layout>
			</v-container>
		</main>
	</div>
</template>

<script>
	import headerComponent from '~/components/header.vue'

	export default {
		asyncData ({ app }) {
			return app.$axios.$get('https://cors-anywhere.herokuapp.com/https://streamersdb.cz/server-api/read_servers.php')
			.then((res) => {
				return { data: res }
			})
		},
		components: {
			headerComponent
		},
		data () {
			return {
				totalServers: 0,
				servers: [],
				loading: true,
				pagination: {},
				rowsPerPage: 'Výsledků na stránku',
				headers: [
				{
					text: 'Jméno serveru',
					align: 'left',
					sortable: false,
					value: 'server_name'
				},
				{ text: 'IP Adresa', value: 'ip_address', sortable: false },
				{ text: 'Hráči', value: 'server_players' },
				]
			}
			},
			watch: {
				pagination: {
					handler () {
					this.getDataFromApi()
						.then(data => {
						this.servers = data.items
						this.totalServers = data.total
						})
					},
					deep: true
				}
			},
			mounted () {
				this.getDataFromApi()
					.then(data => {
					this.servers = data.items
					this.totalServers = data.total
				})
			},
			methods: {
				getDataFromApi () {
					this.loading = true
					return new Promise((resolve, reject) => {
					const { sortBy, descending, page, rowsPerPage } = this.pagination

					let items = this.getServers()
					const total = items.length

					if (this.pagination.sortBy) {
						items = items.sort((a, b) => {
							const sortA = a[sortBy]
							const sortB = b[sortBy]

							if (descending) {
								if (sortA < sortB) return 1
								if (sortA > sortB) return -1
								return 0
							} else {
								if (sortA < sortB) return -1
								if (sortA > sortB) return 1
								return 0
							}
						})
					}

					if (rowsPerPage > 0) {
						items = items.slice((page - 1) * rowsPerPage, page * rowsPerPage)
					}

					setTimeout(() => {
						this.loading = false
						resolve({
						items,
						total
						})
					}, 1000)
				})
			},
			getServers () {
				return this.data.records
			}
		}
	}
</script>
