<template>
    <div>
		<header-component></header-component>
        
		<main style="background-image: url('bg.jpg');">
			<v-container grid-list-xl>
				<v-layout row wrap align-center justify-center>
					<v-flex xs10 xl6 class="pb-0">
						<h2 class="white--text">
							Správa serverů
						</h2>
					</v-flex>
					<v-flex xs2 xl3 text-xs-right class="pt-0">
						<v-btn icon dark color="red" to="/">
							<v-icon dark>undo</v-icon>
						</v-btn>
					</v-flex>
				</v-layout>
				<v-layout row wrap justify-center>
					<v-flex xs12 lg9 xl7>
						<v-card>
							<v-card-text>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        		Dolores enim atque dolor, blanditiis ea corporis obcaecati 
								unde excepturi delectus molestias nam quae necessitatibus 
								dicta maiores omnis cupiditate, maxime minus aut.
							</v-card-text>
						</v-card>
					</v-flex>
					<v-flex xs12 lg3 xl2>
						<v-card>
							<v-card-text>
								<ul>
									<li>
										<v-btn depressed block color="red" dark @click.prevent="dialogAddServer = true">
											Přidat server
										</v-btn>
									</li>
								</ul>
							</v-card-text>
						</v-card>
					</v-flex>
				</v-layout>
			</v-container>
		</main>
		<v-dialog v-model="dialogAddServer" persistent width="500">
			<v-card>
				<v-card-title class="headline red white--text" primary-title>
					Přidat server
				</v-card-title>
				<v-card-text>
					<v-form ref="form" lazy-validation>
						<v-text-field label="IP Adresa" v-model="ip_address" :rules="rules" outline required></v-text-field>
						<v-text-field label="Port" v-model="port" :rules="rules" outline required></v-text-field>
					</v-form>
				</v-card-text>

				<v-divider></v-divider>

				<v-card-actions>
					<v-btn color="primary" flat @click="dialogAddServer = false">
						Zavřit
					</v-btn>
					<v-spacer></v-spacer>
					<v-btn color="red" flat @click="addServer">
						Přidat server
					</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>
	</div>
</template>

<script>
import headerComponent from '~/components/header.vue'

export default {
    components: {
        headerComponent
	},
	data () {
		return {
			dialogAddServer: '',
			ip_address: null,
			port: null,
			rules: [
				v => !!v || 'Povinné pole.'
			]
		}
	},
	methods: {
		async addServer () {
			if (this.$refs.form.validate()) {
				await this.$axios.post('https://cors-anywhere.herokuapp.com/https://streamersdb.cz/server-api/create_server.php', {
					user_nickname: this.$auth.user.name,
					user_email: this.$auth.user.email,
					ip_address: this.ip_address,
					port: this.port
				}).then((res) => {
					console.log(res)
				})
			}
		}
	}
}
</script>

<style lang="scss" scoped>
	ul{
		list-style: none;
		li{
			margin-bottom: 1rem;

			&:last-of-type{
				margin-bottom: .3rem;
			}

			a{
				transition: 300ms all ease-in-out;
				&:hover{
					color: lighten(#111, 30);
				}
			}
		}
	}
</style>

